/* Colors */ 
$black: #282728;
$blue: #8bc5c9;
$green: #56663b;
$light-green: #c9e479;
$brown: #c2613e;
$white: #fffcf7;
$pink: #cd85af;
/* Fonts */ 
$body-font: 'Barlow Condensed', sans-serif;
$heading-font: 'Fredoka One', cursive;
/* Font weights */
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;